.sidebar {
    float: left;
    opacity: 0;
}

.sidebar.open {
    transition-duration: revert;
    display: block;
    position: absolute;
    background: white;
    width: 33%;
    height: 100%;
    border-right: 1px solid #58ACFF;
    opacity: 1;


}

.background {


}

.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;

}

.nav a {


    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: black;

}

.nav a:hover {
    color: #58ACFF !important;

}

.nav a.active {
    text-decoration-line: underline !important;
    color: #0059B2 !important;
}
.close {
    float: right;
    border: none;
    background: none;

}

.close img {
    width: 20px;
    margin: 30px 30px;
}
