.App {
    --header_height: 60px;
    margin: 0;
    padding: 0;

}

.hw {

}

.hwTitle {
    border-top: 1px solid #adaaaa;
    border-bottom: 1px solid #adaaaa;
    min-height: 50px;
    padding-top: 10px;
    margin: 20px ;
}