.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
margin-top: 20px;

}

.error {
    color: red;
}

.input {
min-height: 30px;
}

.input:focus {
}

.errorInput {

}

.button {
    background: #0066CC;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 20px;

}

.button:focus {
    color: red;
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
}

.greeting {
}
