.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: red;
}

.input {
}

.input:focus {
}

.errorInput {

}

.button {
    background: #0066CC;
    color: white;
    margin-left: 50px;
    min-width: 50px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
